body{
   background-color: #fff;
}

h1{
   font-family: 'Bitter', serif;
   margin: 30px;
   color: #555;
   font-weight: bold;
   font-size: 2em;
   text-align: center;
}

.photos{
   display: flex;
   margin: 0 30px;
   flex-wrap: wrap;
   justify-content: center;
}

.img_render{
   display: block;
   margin: 5px;
   border: 5px solid #dbdbdb;
   width: 300px;
   height: 300px;
   overflow: hidden;
}

.photos img{
   display: block;
   width: 400px;
   transform: rotate(90deg) translateY(50px);
}